@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
	width:100%;
}
.container-box{
	width:35%;
	height:265px;
	margin:0 auto;
	text-align:center;
	background-color:rgb(240,240,240);
	border-radius:35px;
	box-shadow: 0 0 8px 1px rgb(193 188 188);
}
.img1{
    margin: 0 auto;
    height: 75px;
    width: 75px;
	top: -35px;
	position:relative;
    border-radius: 50%;
    box-shadow: 0 0 8px 1px rgb(193 188 188);
    padding: 15px;
    background-color: rgb(240 240 240);
}
.container-box .para1{
	font-size:38px;
	font-family: 'Abel', sans-serif;
	color:rgb(103,103,103);
	font-weight: 600;
}
.container-box .para2{
	font-family: 'Wire One', sans-serif;
	font-size:35px;
	line-height: 70px;
}